In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./data/부산2차 빅데이터 명단.csv', encoding='euc-kr', index_col='번호')

In [6]:
df

     성명
번호
1   강동현
2   권지은
3   김동주
4   김성현
5   김지환
6   류민지
7   방수진
8   성혜경
9   안성현
10  윤정인
11  이성경
12  이정빈
13  이한빈
14  장원석
15  전아영
16  정영현
17  조혜리
18  지동주
19  허아현

In [9]:
df2 = df[df['성명'] != '윤정인']
df2.shape

(18, 1)

In [16]:
random_index_df = df2.sample(frac=1)

In [17]:
print('5/30 1조 :', random_index_df.iloc[:5]['성명'].values)
print('5/31 2조 :', random_index_df.iloc[5:10]['성명'].values)
print('6/2 3조 :', random_index_df.iloc[10:14]['성명'].values)
print('6/3 4조 :', random_index_df.iloc[14:]['성명'].values)

5/30 1조 : ['권지은' '조혜리' '류민지' '이성경' '장원석']
5/31 2조 : ['안성현' '김지환' '방수진' '지동주' '성혜경']
6/2 3조 : ['정영현' '이한빈' '허아현' '강동현']
6/3 4조 : ['김성현' '전아영' '김동주' '이정빈']