- 파일 다운로드
    - excel, csv, txt(read_excel, read_csv)
    - json(read_json)
    - open Api  : 프로그램과 프로그램이 서로 주고 받는 방식
        - 인증키 필요
        - 정의된 문서가 항상 존재
        - 규칙을 가지고 진행
        - 'xml', 'json'(html 태그 방식과 동일) 파일 포맷이 존재
    - 웹크롤링
        - 웹페이지에서 찾아서 긁어내는 방식
        - 사진 지식 필요 : html 태그 규칙 , css 규칙
        
- 파일 저장
    - to_excel, to_csv ...
    - to_json

# 1. 형태별 데이터 사용방법

In [10]:
# bicycle.csv 파일을 읽어 들인 후 조회
# 데이터 프레임 변수 df1
import pandas as pd
file_path = './data/bicycle.csv'
df1 = pd.read_csv(file_path, encoding='euc-kr')
print(len(df1))
df1.head(2)

420

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0

In [11]:
# bicycle.xlsx 파일 읽어들인 후 조회
# 변수명 df2
file_path = './data/bicycle.xlsx'
df2 = pd.read_excel(file_path)
print(len(df2))
df2.head(2)

420

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 08:48:31,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 09:01:24,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 08:38:39,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 08:56:33,3,중랑센터,2.0,7.0,1420.0

In [13]:
# read_json 파일 읽어 들이기
# 변수 df3
file_path = './data/read.json'
df3 = pd.read_json(file_path)
df3

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Gachon University,"{'Classes': ['Probability', 'Generalized Linea..."
1,Gildong,Hong,20,Gachon University,"{'Classes': ['Data Structure', 'Programming', ..."

In [16]:
# df1 저장하기
# 저장위치 : data2 폴더
# 저장파일명 : sample_data.csv
file_path = './data2/sample_data.csv'
df1.to_csv(file_path)

In [18]:
# df2 저장하기
# 저장위치 : data2 폴더
# 저장파일명 : sample_data.xlsx
file_path = './data2/sample_data.xlsx'
df2.to_excel(file_path)

In [20]:
# json 저장하기
# 저장위치 : data2 폴더
# 저장파일명 : sample_data.json
file_path = './data2/sample_data.json'
df3.to_json(file_path)

### 데이터 수집 : OpenAPI 방식

- OpenAPI 정보
    - 데이터 포맷 확인
    - 제공 문서(참고문서) 확인
    - 샘플 코드 복사 - 실행
    - 인증키 신청

In [49]:
# Python3 샘플 코드 #

import requests

url = 'http://apis.data.go.kr/B551182/pharmacyInfoService/getParmacyBasisList'
params ={'serviceKey' : 'cT%2BYkjvIHbeOxm1pvHB%2B00ZWqRmWcBPdjMryZWdGMvWmU%2BqyhRGLJW8y55hv4PgZ%2B8hrkRfn1rcP5hxYUefTlA%3D%3D',
         'pageNo' : '1', 'numOfRows' : '10', 'sidoCd' : '110000', 'sgguCd' : '110019', 'emdongNm' : '신내동', 'yadmNm' : '온누리건강',
         'xPos' : '127.0965441345503', 'yPos' : '37.60765568913871', 'radius' : '3000' }

url = "http://apis.data.go.kr/B551182/pharmacyInfoService/getParmacyBasisList?pageNo=1&numOfRows=10&sidoCd=110000&sgguCd=110019&emdongNm=신내동&yadmNm=온누리&xPos=127.0965441345503&yPos=37.60765568913871&radius=3000&ServiceKey=cT%2BYkjvIHbeOxm1pvHB%2B00ZWqRmWcBPdjMryZWdGMvWmU%2BqyhRGLJW8y55hv4PgZ%2B8hrkRfn1rcP5hxYUefTlA%3D%3D"

#response = requests.get(url, params=params)
response = requests.get(url)
print(response.content)

b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><addr>\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac \xeb\xb4\x89\xed\x99\x94\xec\x82\xb0\xeb\xa1\x9c 215 1\xec\xb8\xb5 (\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99)</addr><clCd>81</clCd><clCdNm>\xec\x95\xbd\xea\xb5\xad</clCdNm><distance>.5478450769582605437588497466708942455</distance><emdongNm>\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99</emdongNm><estbDd>20001222</estbDd><postNo>02054</postNo><sgguCd>110019</sgguCd><sgguCdNm>\xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac</sgguCdNm><sidoCd>110000</sidoCd><sidoCdNm>\xec\x84\x9c\xec\x9a\xb8</sidoCdNm><telno>02-3422-3097</telno><XPos>127.0965492</XPos><YPos>37.6076585</YPos><yadmNm>\xec\x98\xa8\xeb\x88\x84\xeb\xa6\xac\xea\xb1\xb4\xea\xb0\x95\xec\x95\xbd\xea\xb5\xad</yadmNm><ykiho>JDQ4MTg4MSM1MSMkMSMkNCMkMDMkMzgxOTYxIzExIyQxIyQ3IyQ4MiQyNjEyMjIjODEjJDEjJDYjJDgz</ykiho></item><item><addr>\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac \xec\x8b\xa0\xeb\x82\xb4\xeb\xa1\x9c 211 212\xed\x98\xb8 (\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99, \xea\xb8\x88\xea\xb0\x95\xeb\xa6\xac\xeb\xb9\x99\xec\x8a\xa4\xed\x85\x94)</addr><clCd>81</clCd><clCdNm>\xec\x95\xbd\xea\xb5\xad</clCdNm><distance>1035.1855820788666820304486290002772234</distance><emdongNm>\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99</emdongNm><estbDd>20140630</estbDd><postNo>02024</postNo><sgguCd>110019</sgguCd><sgguCdNm>\xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac</sgguCdNm><sidoCd>110000</sidoCd><sidoCdNm>\xec\x84\x9c\xec\x9a\xb8</sidoCdNm><telno>02-6743-4262</telno><XPos>127.0926492</XPos><YPos>37.6164445</YPos><yadmNm>\xec\x86\xa1\xec\x9d\xb4\xec\x98\xa8\xeb\x88\x84\xeb\xa6\xac\xec\x95\xbd\xea\xb5\xad</yadmNm><ykiho>JDQ4MTg4MSM1MSMkMSMkNCMkMDMkMzgxOTYxIzIxIyQxIyQ5IyQ4OSQyNjE0ODEjNjEjJDEjJDQjJDgz</ykiho></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>2</totalCount></body></response>'

In [50]:
import requests


apikey = "cT%2BYkjvIHbeOxm1pvHB%2B00ZWqRmWcBPdjMryZWdGMvWmU%2BqyhRGLJW8y55hv4PgZ%2B8hrkRfn1rcP5hxYUefTlA%3D%3D"

pageNo = 1
numOfRows = 10
sidoCd = 110000
sgguCd = 110019
emdongNm = "신내동"
yadmNm = "온누리"
xPos = 127.0965441345503
yPos = 37.60765568913871
radius = 3000


api = "http://apis.data.go.kr/B551182/pharmacyInfoService/getParmacyBasisList?pageNo={no}&numOfRows={row}&sidoCd={sido}&sgguCd={sigu}&emdongNm={dong}&yadmNm={yanm}&xPos={x}&yPos={y}&radius={r}&ServiceKey={key}"

# f."{pageNo}{sidoCd}"
# "{}{}".format(pageNo,sidoCd)

url = api.format(no=pageNo,
                 row=numOfRows,
                 sido=sidoCd,
                 sigu=sgguCd,
                 dong=emdongNm,
                 yanm=yadmNm,
                 x=xPos, y=yPos, r=radius,
                 key=apikey)

#response = requests.get(url, params=params)
response = requests.get(url)
print(response.content)

b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><addr>\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac \xeb\xb4\x89\xed\x99\x94\xec\x82\xb0\xeb\xa1\x9c 215 1\xec\xb8\xb5 (\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99)</addr><clCd>81</clCd><clCdNm>\xec\x95\xbd\xea\xb5\xad</clCdNm><distance>.5478450769582605437588497466708942455</distance><emdongNm>\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99</emdongNm><estbDd>20001222</estbDd><postNo>02054</postNo><sgguCd>110019</sgguCd><sgguCdNm>\xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac</sgguCdNm><sidoCd>110000</sidoCd><sidoCdNm>\xec\x84\x9c\xec\x9a\xb8</sidoCdNm><telno>02-3422-3097</telno><XPos>127.0965492</XPos><YPos>37.6076585</YPos><yadmNm>\xec\x98\xa8\xeb\x88\x84\xeb\xa6\xac\xea\xb1\xb4\xea\xb0\x95\xec\x95\xbd\xea\xb5\xad</yadmNm><ykiho>JDQ4MTg4MSM1MSMkMSMkNCMkMDMkMzgxOTYxIzExIyQxIyQ3IyQ4MiQyNjEyMjIjODEjJDEjJDYjJDgz</ykiho></item><item><addr>\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac \xec\x8b\xa0\xeb\x82\xb4\xeb\xa1\x9c 211 212\xed\x98\xb8 (\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99, \xea\xb8\x88\xea\xb0\x95\xeb\xa6\xac\xeb\xb9\x99\xec\x8a\xa4\xed\x85\x94)</addr><clCd>81</clCd><clCdNm>\xec\x95\xbd\xea\xb5\xad</clCdNm><distance>1035.1855820788666820304486290002772234</distance><emdongNm>\xec\x8b\xa0\xeb\x82\xb4\xeb\x8f\x99</emdongNm><estbDd>20140630</estbDd><postNo>02024</postNo><sgguCd>110019</sgguCd><sgguCdNm>\xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac</sgguCdNm><sidoCd>110000</sidoCd><sidoCdNm>\xec\x84\x9c\xec\x9a\xb8</sidoCdNm><telno>02-6743-4262</telno><XPos>127.0926492</XPos><YPos>37.6164445</YPos><yadmNm>\xec\x86\xa1\xec\x9d\xb4\xec\x98\xa8\xeb\x88\x84\xeb\xa6\xac\xec\x95\xbd\xea\xb5\xad</yadmNm><ykiho>JDQ4MTg4MSM1MSMkMSMkNCMkMDMkMzgxOTYxIzIxIyQxIyQ5IyQ4OSQyNjE0ODEjNjEjJDEjJDQjJDgz</ykiho></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>2</totalCount></body></response>'

In [51]:
from bs4 import BeautifulSoup
import requests

In [128]:
re = response.text
soup = BeautifulSoup(re, "html.parser")

addr_list = soup.find_all("addr")
addr_list[0].text # 0번째에 해당하는 text만 가져오기

telno_list = soup.find_all("telno")


print("addr_list = ", len(addr_list))
print("telno_list = ", len(telno_list))



for i in range(0, len(addr_list), 1):
    print("약국주소[", i,"] : ", addr_list[i].text)
    print("전화번호[", i,"] : ", telno_list[i].text)

addr_list =  2
telno_list =  2
약국주소[ 0 ] :  서울특별시 중랑구 봉화산로 215 1층 (신내동)
전화번호[ 0 ] :  02-3422-3097
약국주소[ 1 ] :  서울특별시 중랑구 신내로 211 212호 (신내동, 금강리빙스텔)
전화번호[ 1 ] :  02-6743-4262

C:\Users\admin\anaconda3\lib\site-packages\bs4\builder\__init__.py:545: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  warnings.warn(

In [109]:
soup

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultcode>00</resultcode><resultmsg>NORMAL SERVICE.</resultmsg></header><body><items><item><addr>서울특별시 중랑구 봉화산로 215 1층 (신내동)</addr><clcd>81</clcd><clcdnm>약국</clcdnm><distance>.5478450769582605437588497466708942455</distance><emdongnm>신내동</emdongnm><estbdd>20001222</estbdd><postno>02054</postno><sggucd>110019</sggucd><sggucdnm>중랑구</sggucdnm><sidocd>110000</sidocd><sidocdnm>서울</sidocdnm><telno>02-3422-3097</telno><xpos>127.0965492</xpos><ypos>37.6076585</ypos><yadmnm>온누리건강약국</yadmnm><ykiho>JDQ4MTg4MSM1MSMkMSMkNCMkMDMkMzgxOTYxIzExIyQxIyQ3IyQ4MiQyNjEyMjIjODEjJDEjJDYjJDgz</ykiho></item><item><addr>서울특별시 중랑구 신내로 211 212호 (신내동, 금강리빙스텔)</addr><clcd>81</clcd><clcdnm>약국</clcdnm><distance>1035.1855820788666820304486290002772234</distance><emdongnm>신내동</emdongnm><estbdd>20140630</estbdd><postno>02024</postno><sggucd>110019</sggucd><sggucdnm>중랑구</sggucdnm><sidocd>110000</sidocd><sidocdnm>서울</sidocdnm><telno>02-6743-4262</telno><xpos>127.0926492</xpos><ypos>37.6164445</ypos><yadmnm>송이온누리약국</yadmnm><ykiho>JDQ4MTg4MSM1MSMkMSMkNCMkMDMkMzgxOTYxIzIxIyQxIyQ5IyQ4OSQyNjE0ODEjNjEjJDEjJDQjJDgz</ykiho></item></items><numofrows>10</numofrows><pageno>1</pageno><totalcount>2</totalcount></body></response>

In [127]:
# DataFrame으로 저장하기 위한 선행작업...

# 약국이름, 시도명, 주소, 전화번호에 대한 text값만 추출하여
# 각각의 리스트에 담기... 변수명은 아래처럼...
# yad_txt_list, sido_txt_list, addr_txt_list, telno_txt_list


yad_list = soup.find_all("yadmnm")

sido_list = soup.find_all("sidocdnm")

addr_list = soup.find_all("addr")

telno_list = soup.find_all("telno")

yad_txt_list = []
sido_txt_list = []
addr_txt_list = []
telno_txt_list = []

for i in range(0, len(addr_list), 1):
    yad_txt_list.append(yad_list[i].text)
    sido_txt_list.append(sido_list[i].text)
    addr_txt_list.append(addr_list[i].text)
    telno_txt_list.append(telno_list[i].text)
    
print(yad_txt_list)
print(sido_txt_list)
print(addr_txt_list)
print(telno_txt_list)

df_temp = pd.DataFrame({'약국이름' : yad_txt_list,
                       '시도명': sido_txt_list,
                       '주소' : addr_txt_list,
                       '전화번호' : telno_txt_list})
df_temp

['온누리건강약국', '송이온누리약국']
['서울', '서울']
['서울특별시 중랑구 봉화산로 215 1층 (신내동)', '서울특별시 중랑구 신내로 211 212호 (신내동, 금강리빙스텔)']
['02-3422-3097', '02-6743-4262']

      약국이름 시도명                                    주소          전화번호
0  온누리건강약국  서울           서울특별시 중랑구 봉화산로 215 1층 (신내동)  02-3422-3097
1  송이온누리약국  서울  서울특별시 중랑구 신내로 211 212호 (신내동, 금강리빙스텔)  02-6743-4262

In [140]:
# 아래와 같이 각각의 값들을 2차원 리스트 형태로 저장해 주세요
# 변수명 : list_all
#[유심약국, 서울, 서울특별시 중랑구 봉화산로 217(산내동, 오상빌딩내), 02-3422-2755]

yad_list = soup.find_all("yadmnm")
sido_list = soup.find_all("sidocdnm")
addr_list = soup.find_all("addr")
telno_list = soup.find_all("telno")

list_all = []

for i in range(0, len(addr_list), 1):
    list_all.append([yad_list[i].text, sido_list[i].text, addr_list[i].text, telno_list[i].text])
    # yad_txt_list.append(yad_list[i].text)
    # sido_txt_list.append(sido_list[i].text)
    # addr_txt_list.append(addr_list[i].text)
    # telno_txt_list.append(telno_list[i].text)
list_all

col_nm = ["약국이름", "시도명", "주소", "전화번호"]
new_df = pd.DataFrame(list_all, columns=col_nm)
new_df

      약국이름 시도명                                    주소          전화번호
0  온누리건강약국  서울           서울특별시 중랑구 봉화산로 215 1층 (신내동)  02-3422-3097
1  송이온누리약국  서울  서울특별시 중랑구 신내로 211 212호 (신내동, 금강리빙스텔)  02-6743-4262