In [20]:
# files_new 폴더에서 20TABLE 파일 읽어 들인후 조회
# 변수명 : df_20TABLE_org
import pandas as pd

In [26]:
file_path = "./files_new2/df_kor_20table_명세서일반내역.xlsx"
df_20TABLE_org = pd.read_excel(file_path)
print(len(df_20TABLE_org))
df_20TABLE_org.head(1)

5631

,명세서 연결코드,수진자고유번호,청구형태코드,청구구분코드,서식코드,연령군,추출확률,샘플가중치,수진자연령,성별구분코드,...,내원일수,심결요양급여비용총액,심결본인부담금,심결보험자부담금,수술여부,특정기호구분코드,의료급여종별코드,방사선진단여부,방사선치료여부,요양기관 고유번호
0,1,169,3,0,3,13,0.030001,33.332599,62,1,...,1,9430,2800,6630,0,$,$,$,$,30796

### 월별/연령대별 본인부담비용 시각화분석

In [27]:
# 수진자연령, 요양개시일자, 심결본인부담금
df_month_age = df_20TABLE_org[["수진자연령", "요양개시일자", "심결본인부담금"]]
print(len(df_month_age))
df_month_age.head(1)

5631

   수진자연령    요양개시일자  심결본인부담금
0     62  20130108     2800

## 연령대 컬럼 - 한번에 만들기

In [37]:
year_list = ["1대", "10대", "20대", "30대", "40대", "50대", "60대", "70대", "80대", "90대"]

# 모든 연령대를 1개의 데이터프레임으로 통합하기
df_month_age_any = pd.DataFrame()

# 연령대 필터링 범위 계산에 사용
num = 0

for i in range(0, len(year_list), 1) :    
    
    print("연령 필터링 범위 : [수진자연령] >= ", num, " : [수진자연령] < ", num+10)
    
    df_temp =  df_month_age[(df_month_age["수진자연령"] >= num) & (df_month_age["수진자연령"] < num+10)]
    df_temp = df_temp.reset_index(drop=True)
    df_temp["연령대"] = year_list[i]
    df_month_age_any = pd.concat([df_month_age_any, df_temp], ignore_index=True)
    
    num += 10

df_month_age_any = df_month_age_any.reset_index(drop=True)
print()
print("총 행의 갯수 : ", len(df_month_age_any))
df_month_age_any

연령 필터링 범위 : [수진자연령] >=  0  : [수진자연령] <  10
연령 필터링 범위 : [수진자연령] >=  10  : [수진자연령] <  20
연령 필터링 범위 : [수진자연령] >=  20  : [수진자연령] <  30
연령 필터링 범위 : [수진자연령] >=  30  : [수진자연령] <  40
연령 필터링 범위 : [수진자연령] >=  40  : [수진자연령] <  50
연령 필터링 범위 : [수진자연령] >=  50  : [수진자연령] <  60
연령 필터링 범위 : [수진자연령] >=  60  : [수진자연령] <  70
연령 필터링 범위 : [수진자연령] >=  70  : [수진자연령] <  80
연령 필터링 범위 : [수진자연령] >=  80  : [수진자연령] <  90
연령 필터링 범위 : [수진자연령] >=  90  : [수진자연령] <  100

총 행의 갯수 :  5631

      수진자연령    요양개시일자  심결본인부담금  연령대
0         3  20131211     2900   1대
1         6  20130129     2800   1대
2         3  20130130     2700   1대
3         6  20130130     6500   1대
4         6  20130502     2800   1대
...     ...       ...      ...  ...
5626     94  20130423     1500  90대
5627     94  20130709     1500  90대
5628     94  20131208     1500  90대
5629     94  20130401     1500  90대
5630     94  20130416      900  90대

[5631 rows x 4 columns]